<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="initDefault.js"></script>
<script src="ModalController.js"></script>
<body>

<div ng-app="app" ng-controller="ModalController as vm">
  
    <div class="container">
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <button class="btn btn-sm" data-ng-click="vm.popUpOpen()">Open Modal</button>
        <br>
        <div  data-ng-if="vm.model.file" class="row">{{vm.model.file}}</div>
        <!-- Modal -->
    <!-- Modal short cut create pipeline-->
<div id="pipeModal" class="modal"
        data-keyboard="false"
        data-backdrop="static">
<div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
       <div class="modal-header">
           Modal Send Data
       </div>
       <form name="taskForm" class="form-horizontal" novalidate>
          <div class="modal-body">
                <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                          <input type="text" ng-model="vm.model.text1" class="form-control" id="email" placeholder="Enter Text " required/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email">File:</label>
                        <div class="col-sm-10">
                          <input type= "file" file-model= "vm.model.file" name="file" class="form-control"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10"> 
                          <input type="text" ng-model="vm.model.text2" class="form-control" id="pwd" placeholder="Enter Text " required>
                        </div>
                      </div>
          </div>
           <div class="modal-footer">
               <button class="btn blue" data-ng-click="vm.submitData();">
                   <i class="fa fa-save"></i>
                  Send
               </button>
               <button  class="btn default" data-ng-click="vm.popUpHide()">
                   <i class="fa fa-close"></i>
                  close
               </button>
           </div>
       </form>
   </div>
</div>
</div>



      </div>


</div>

</body>
</html>